include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include fouz *.css
recursive-include fouz *.csv
recursive-include fouz *.html
recursive-include fouz *.ico
recursive-include fouz *.js
recursive-include fouz *.json
recursive-include fouz *.md
recursive-include fouz *.png
recursive-include fouz *.py
recursive-include fouz *.svg
recursive-include fouz *.txt
recursive-exclude fouz *.pyc